*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    position: fixed;    
}
.logo{
    width: 10%;
}
header div img{
    padding: 20px;
    height: 100%;
    width: 100%;
}
.centerDiv{
    font-size: 1.2rem;
    font-weight: 540;
    color: rgb(161, 156, 156);
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
.centerDiv div:hover{
    color: black;
    font-size: 1.3rem;
}
.downloadBtn{
    height: 50%;
    width: 10%;    
    display: flex;
    align-items: center;    
}
.btn{
    text-align: center;
    height: 95%;    
    width: 95%;
    font-weight:550;
    font-size: 1.1rem;
    background-color:#04DDB2 ;
    border: none;
    border-radius: 50px;
}
.btn:hover{    
    height: 100%;
    width: 100%;
    background-color: #04DDB2;    
}
main{    
    height: 190vh;
    width: 100vw;    
}

.main1 h1{
    padding-top: 15vh;
    font-size: 4rem;
    font-weight: 900;
}
.main1 span{
    color: #04DDB2;
}
.main2 p{
    width: 40%;
    font-size: 1.5rem;
    font-weight: 510;
}
.main3{
    width: 70%;
}
.main3 img{
    border-radius: 30px;
    width: 100%;
    height: 100%;
    margin: 40px;
}
.main4 h1{
    width: 40%;
    font-size: 4rem;
    font-weight: 700;
}
.downloadButton{
    height: 9vh;
    width: 15vw;
    font-size: 1.4rem;   
    margin-top: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 40vh;
    width: 90%;
    display: flex;
    margin: 50px 50px 50px 70px ;
    justify-content: space-around;
}
.footer1{
    width: 7vw;
    height: 13vh;
}
.footer1 img{
    height: 100%;
    width: 100%;
}
.footerDiv5{
    width: 20%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;   
}
.footerDiv5 i{
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #04DDB2;
    border-radius: 50px;
}
.footerDiv div{
    padding: 5px;
    color: rgba(75, 74, 74, 0.918);
}
.footerDiv div:hover{
    font-size: 1.1rem;
    color:black;
    
}
.footer{
    font-weight: 600;
}
.footerDiv1:hover{
    font-size: none;
}